<div class="promptblock">
  <strong><a href= <%= "/pb/" + data[i].id %> ><%= data[i].title %></a></strong>
  <div class="promptblock-username">
    <em>-<a href= <%= "/users/" + data[i].name %>><%= data[i].name %></a></em>
  </div>
</div>
