<div class="topnav">
  <div class="logo-text">PromptBlocks</div>
  <div class="topnav-links">
    <% if (user) { %>
      <a href= <%= "users/" + user.name %> ><%= user.name %></a>
    <% } else { %>
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    <% } %>
  </div>
</div>
