<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <title>PromptBlocks</title>
  </head>
  <body>
    <div class="topnav">
      <div class="logo-text">PromptBlocks</div>
      <div class="topnav-links">
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
      </div>
    </div>
  </body>
</html>
