.topnav {
  background-color: black;
}

.topnav-links {
  display: inline-block;
  position: absolute;
  right: 0px;
  color: white;
}

.logo-text {
  display: inline-block;
  color: white;
}

form, button {
  display: inline-block;
}
