body {
  background-color: #C4C4E0;
}

.topnav {
  background-color: black;
  height: 24px;
}

.topnav-text {
  color: white;
  padding: 0px 20px;
}

.topnav-links {
  display: inline-block;
  position: absolute;
  right: 0px;
}

.logo-text {
  font-size: 21px;
  display: inline-block;
  color: black;
  background-color: grey;
  height: 24px;
}

#title-input, #description-input {
  width: 700px;
  display: block;
}

 #description-input {
   padding-bottom: 200px;
 }

.topnav-links form, .topnav-links button {
  display: inline-block;
}
